<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== PRISM CSS ===============-->
    <link rel="stylesheet" href="../assets/prism/prism.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <!--=============== TAB CSS ===============-->
    <link rel="stylesheet" href="../assets/css/tab.css" />

    <!--=============== ACCORDION CSS ===============-->
    <link rel="stylesheet" href="../assets/css/accordion.css" />

    <!--=============== PRISM JS ===============-->
    <script src="../assets/prism/prism.js" defer></script>

    <!--=============== MAIN JS ===============-->
    <script src="../assets/js/main.js" defer></script>

    <!--=============== TAB JS ===============-->
    <script src="../assets/js/tab.js" defer></script>

    <!--=============== ACCORDION JS ===============-->
    <script src="../assets/js/accordion.js" defer></script>

    <!--=============== METADATA ===============-->
    <title>Accordion-Templates</title>
    <meta name="author" content="Joshua Schärer" />
    <meta name="copyright" content="Joshua Schärer" />
    <meta name="color-scheme" content="light" />
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
      <nav class="nav container" id="primary-nav" aria-label="primary">
        <a href="../index.html" class="nav__logo link link--button">
          by Joshua Schärer
        </a>
      </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main" id="main">
      <div class="main__container container">
        <!--=============== SIDEBAR ===============-->
        <aside class="sidebar" id="sidebar">
          <nav class="sidenav" id="secondary-nav" aria-label="secondary">
            <h2 class="sidenav__title">Accordion</h2>

            <div class="sidenav__menu" id="sidenav-menu">
              <ul class="sidenav__list">
                <li class="sidenav__item">
                  <a href="#basic" class="sidenav__link link link--button">
                    Basic
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </aside>

        <!--=============== CONTENT ===============-->
        <div class="content" id="content">
          <!--=============== BREADCRUMBS ===============-->
          <nav class="breadcrumbs" id="breadcrumbs" aria-label="breadcrumbs">
            <div class="breadcrumbs__menu">
              <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                  <a href="../index.html" class="breadcrumbs__link link link">
                    Home
                  </a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link link link">Components</a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link link link--active">
                    Accordion
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <!--=============== HERO ===============-->
          <div class="hero__container section">
            <h1 class="hero__title">Accordion-Templates</h1>
            <p class="hero__description">
              An accordion component displays collapsible display of content
              within a limited space. By clicking on a header, the associated
              content expands and collapses, allowing for efficient use of space
              and improved user experience. This collection offers a range of
              accordion components, designed to meet the needs of various web
              design projects. Browse through the options and find the perfect
              fit for your website.
            </p>
          </div>

          <!--=============== TEMPLATES ===============-->
          <section class="accordion section" id="basic">
            <div class="accordion__container">
              <h2 class="section__title">Basic accordion</h2>
              <p class="section__description">
                A template for a very simple accordion.
              </p>

              <h3 class="section__subtitle">Code</h3>
              <div class="section__container">
                <div class="tab tab--basic">
                  <div class="tab__list" role="tablist">
                    <h3 class="tab__header">
                      <button
                        class="tab__title"
                        id="tab-basic-header-html"
                        role="tab"
                        aria-controls="tab-basic-panel-html"
                        aria-selected="true"
                        tabindex="0">
                        HTML
                      </button>
                    </h3>

                    <h3 class="tab__header">
                      <button
                        class="tab__title"
                        id="tab-basic-header-css"
                        role="tab"
                        aria-controls="tab-basic-panel-css"
                        aria-selected="false"
                        tabindex="-1">
                        CSS
                      </button>
                    </h3>

                    <h3 class="tab__header">
                      <button
                        class="tab__title"
                        id="tab-basic-header-js"
                        role="tab"
                        aria-controls="tab-basic-panel-js"
                        aria-selected="false"
                        tabindex="-1">
                        JS
                      </button>
                    </h3>
                  </div>

                  <section
                    class="tab__panel container--box"
                    id="tab-basic-panel-html"
                    role="tabpanel"
                    aria-labelledby="tab-basic-header-html"
                    tabindex="-1">
                    <pre>
                        <code class="language-html">
                            &lt;!--=============== BASIC ACCORDION ===============--&gt;
                            &lt;div class=&quot;accordion accordion--basic&quot; id=&quot;accordion-basic&quot;&gt;
                                &lt;div class=&quot;accordion__item&quot;&gt;
                                    &lt;h3 class=&quot;accordion__header&quot;&gt;
                                        &lt;button
                                        class=&quot;accordion__title&quot;
                                        id=&quot;accordion-basic-header-1&quot;
                                        aria-controls=&quot;accordion-basic-panel-1&quot;
                                        aria-expanded=&quot;false&quot;
                                        data-accordion-header&gt;
                                        &lt;!-- TITLE --&gt;
                                        &lt;/button&gt;
                                    &lt;/h3&gt;

                                    &lt;section
                                        class=&quot;accordion__panel&quot;
                                        id=&quot;accordion-basic-panel-1&quot;
                                        aria-labelledby=&quot;accordion-basic-header-1&quot;
                                        hidden&gt;
                                        &lt;!-- CONTENT --&gt;
                                    &lt;/section&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                  </section>

                  <section
                    class="tab__panel container--box"
                    id="tab-basic-panel-css"
                    role="tabpanel"
                    aria-labelledby="tab-basic-header-css"
                    tabindex="-1"
                    hidden>
                    <pre>
                        <code class="language-css">
                            /*=============== VARIABLES CSS ===============*/
                            :root {
                              --hover-overlay-color: hsl(0, 0%, 2%, 0.1);
                            }
                            
                            /*=============== ACCORDION ===============*/
                            [data-accordion-header] {
                              display: flex;
                              justify-content: space-between;
                              padding: 0.5rem;
                              width: 100%;
                            }
                            
                            [data-accordion-header]:is(:hover, :focus),
                            [data-accordion-header][aria-expanded="true"] {
                              background-color: var(--hover-overlay-color);
                            }
                            
                            [data-accordion-header][aria-expanded="false"]::after {
                              content: "+";
                            }
                            
                            [data-accordion-header][aria-expanded="true"]::after {
                              content: "-";
                            }                            
                        </code>
                    </pre>
                  </section>

                  <section
                    class="tab__panel container--box"
                    id="tab-basic-panel-js"
                    role="tabpanel"
                    aria-labelledby="tab-basic-header-js"
                    tabindex="-1"
                    hidden>
                    <pre>
                        <code class="language-js">
                            /*=============== ACCORDION ===============*/
                            const accordions = document.querySelectorAll("[data-accordion-header]");

                            // Add a click event handler to each accordion
                            accordions.forEach((accordion) => {
                            accordion.addEventListener("click", changeAccordions);
                            });

                            function changeAccordions(e) {
                            const target = e.target;
                            const parent = target.parentNode;

                            // Toggle the expanded state of the accordion
                            const expanded = target.getAttribute("aria-expanded") === "true" || false;
                            target.setAttribute("aria-expanded", !expanded);

                            // Toggle the hidden state of the accordion panel
                            parent.nextElementSibling.toggleAttribute("hidden");
                            }
                        </code>
                    </pre>
                  </section>
                </div>
              </div>

              <h3 class="section__subtitle">Output</h3>
              <div class="section__container container--box">
                <!--=============== BASIC ACCORDION ===============-->
                <div class="accordion accordion--basic" id="accordion-basic">
                  <div class="accordion__item">
                    <h3 class="accordion__header">
                      <button
                        class="accordion__title"
                        id="accordion-basic-header-1"
                        aria-controls="accordion-basic-panel-1"
                        aria-expanded="false"
                        data-accordion-header>
                        Basic accordion 1
                      </button>
                    </h3>

                    <section
                      class="accordion__panel"
                      id="accordion-basic-panel-1"
                      aria-labelledby="accordion-basic-header-1"
                      hidden>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Veniam quae corrupti, ipsam nulla obcaecati voluptates
                      velit sint pariatur consectetur tenetur est magnam ipsum
                      saepe eum dolores nostrum atque, id perspiciatis.
                    </section>
                  </div>

                  <div class="accordion__item">
                    <h3 class="accordion__header">
                      <button
                        class="accordion__title"
                        id="accordion-basic-header-2"
                        aria-controls="accordion-basic-panel-2"
                        aria-expanded="false"
                        data-accordion-header>
                        Basic accordion 2
                      </button>
                    </h3>

                    <section
                      class="accordion__panel"
                      id="accordion-basic-panel-2"
                      aria-labelledby="accordion-basic-header-2"
                      hidden>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Veniam quae corrupti, ipsam nulla obcaecati voluptates
                      velit sint pariatur consectetur tenetur est magnam ipsum
                      saepe eum dolores nostrum atque, id perspiciatis.
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer" id="footer">
      <div class="footer__container container container--grid">
        <div class="footer__menu" id="footer-menu">
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link link link--button">Imprint</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link link link--button">Privacy</a>
            </li>
          </ul>
        </div>

        <span class="footer__copy">
          &#169; 2023 Joshua Schärer. All rigths reserved.
        </span>
      </div>
    </footer>
  </body>
</html>
