/*=============== VARIABLES CSS ===============*/
:root {
  --active-overlay-color: hsl(346, 100%, 95%);
  --first-color: hsl(350, 88%, 61%);
  --first-color-alt: hsl(350, 88%, 61%, 0.4);
}

/*=============== ACCORDION ===============*/
[data-accordion-header] {
  background-color: var(--active-overlay-color);
  color: var(--first-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

[data-accordion-header]:is(:hover, :focus),
[data-accordion-header][aria-expanded="true"] {
  background-color: var(--first-color-alt);
}

[data-accordion-header][aria-expanded="false"]::after {
  content: "+";
}

[data-accordion-header][aria-expanded="true"]::after {
  content: "-";
}
